In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df = pd.read_csv('C:\\Users\\Nando\\Downloads\\heart_disease_uci.csv')

In [7]:
df.columns

Index(['id', 'age', 'sex', 'dataset', 'cp', 'trestbps', 'chol', 'fbs',
       'restecg', 'thalch', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [9]:
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [11]:
missing_values = df.isnull().sum()

tabel_missing_values = pd.DataFrame(missing_values, columns=['Jumlah Missing Value'])

print(tabel_missing_values)

          Jumlah Missing Value
id                           0
age                          0
sex                          0
dataset                      0
cp                           0
trestbps                    59
chol                        30
fbs                         90
restecg                      2
thalch                      55
exang                       55
oldpeak                     62
slope                      309
ca                         611
thal                       486
num                          0

In [13]:
mean_value = df['trestbps'].mean()
mean_value

132.13240418118468

In [17]:
df1 = df.dropna()

missing_values_setelah = df1.isnull().sum()

tabel_missing_values_setelah = pd.DataFrame(missing_values_setelah, columns=['Jumlah Missing Value'])

print(tabel_missing_values_setelah)

          Jumlah Missing Value
id                           0
age                          0
sex                          0
dataset                      0
cp                           0
trestbps                     0
chol                         0
fbs                          0
restecg                      0
thalch                       0
exang                        0
oldpeak                      0
slope                        0
ca                           0
thal                         0
num                          0

In [19]:
duplicate_rows = df[df.duplicated()]
print("Jumlah baris yang duplikat:", len(duplicate_rows))

Jumlah baris yang duplikat: 0